div.bar-wrap {
	position: relative;
	width: 100px;
}
div.bar-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
div.bar-text {
	text-align: center;
	color:#fff;
	opacity:0.82;
	font-weight:bold;
	text-shadow:0px -1px 2px #1B332F,0px 1px 2px #1B332F,1px 0px 3px #1B332F,-1px 0px 3px #1B332F;
	position: relative;
	width: 100px;
}
#resource_body {
	position:absolute;
	top:0px;
	left:0px;
}
#resource_body table {
	font-size: 10px;
}
#resource_list {
	position:fixed;
	right:10px;
	z-index:0;
}
#details {
    position: fixed;
    right: 150px; /* Default starting position */
    top: 50px;    /* Ensure it's high enough to see */
    z-index: 50;
    background-color: #000; /* Ensure visibility against the background */
    border: 1px solid #1B332F;
    padding: 5px;
}
.res {
	height:16px;
	width:16px;
}
#resource_table .symbol {
	font-size: 14px;
	color: darkred;
}
